.MyTabPane {
    -fx-background-color: #FFF;
}

.MyTabPane .tab
{
    -fx-background-color: #f8a5c2;
}

.MyTabPane .tab:selected
{
    -fx-background-color: #cf6a87;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #FFF;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #f4978e;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: -fx-focus-color;
}
